button:hover {
    cursor: pointer;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    text-shadow: 0px 1px 0px #8E8E8E, 0px 1px 0px #8E8E8E, ;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    padding-left: 16px;
    padding-right: 16px;

    color: black;
    background-color: #8E8E8E;
    text-shadow: 0px 1px 0px #2C3539, 0px 1px 0px #2C3539;
    background-image: linear-gradient(to bottom, #2C3539, #8E8E8E);

}


.reset-button, .round-selector {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
}

.round-selector {
    font-size: 32px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}


.play-area {
    display: flex;
    flex: 2 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-image: linear-gradient(to top, #2C3539, #8E8E8E);
}

.button-container {
    flex: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display-and-scores {
    flex: 2 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.button-and-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: radial-gradient(circle at center,red, black);
    box-shadow: 0px 0px 60px 02px red;
    border: 5px solid black;
}

.player-score, .computer-score, .display {
    flex: auto;
    text-align: center;
    margin-top: 80px;
}

.display {
    box-shadow: 1px 1px 6px 1px;
    flex: 2 1 auto;
    flex-wrap: wrap;
    max-width: 60%;
    min-width: 60%;
    font-size: 26px;
    padding-left: 80px;
    padding-right: 80px;
    min-height: 600px;
    max-height: auto;
}

.computer-score, .player-score {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    max-width: 200px;
}


ul {
    list-style-type: none;
}
.score-item{
    
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 0;
}

.scorebar {
    background-image: linear-gradient(to top, black, #2C3539);
    width: 100%;
    box-shadow: 0px -3px;
    flex: auto;
    min-height: 20px;
}

.footer {
    background-color: black;
    height: 20px;
    flex: auto;
    height: 20px;
}

.outcome-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: max-content;
    gap: 10px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.outcome-bar {
    border: 2px solid black;
    flex: 0 1 auto;
    min-height: 60px;
    width: 100%;
    box-shadow: 0px 0px 20px 0px black;
    max-height: min-content;

    display: flex;
    align-items: center;
    justify-content: center;
}

.outcome-bar > h4 {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}